* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.nav {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.container_nav {
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#segmentos_nav {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

#segmentos_nav li {
    padding: 0.5em;

}

/*
Diseño del main 
*/

#marco_nav {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
.tittle_main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.1em;
    color: #ffffff ;
    background-color: rgb(36, 110, 131);
}
#marco_nav .redaccion {
    padding-top: 1em;
    font-family: 'Arial';
}